.top {
  display: flex;
  justify-content: space-between;
}

.formcontainer{
  border-radius: 20px;
}

.quotesdiv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.quote {
  background-color: #33a820;
  border-radius: 20px;
  font-family: inter;
  max-width: 330px;
 margin-right: 35px;
}

.userwhat {
  margin-top: -10px;
}

.deleteicon {
  object-fit: contain;
}


.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../../assets/userpain.png);
  background-size: cover;
}


.detailbtn {
  background-color: #0000ff;
  color: #ffff;
  border: none;
  border-radius: 5px;
  height: 36px;
}


.detailbtn:active {
  box-shadow: 0 5px rgb(128, 128, 128);
  transform: translateY(4px);
}
