<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <app-quoteform></app-quoteform>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row p-3">

  <div class="quotesdiv g-1">
    <ng-container *ngFor="let quote of quotes; let i = index">

      <div class="quote p-3 mt-5">

        <div class="top p-2">
          <div class="profile me-2"></div>
          <span class="pt-3 userwhat fs-5">{{quote.posterName}}</span>

          <button class="btn btn-outline-danger rounded-circle deletebtn"><em
              class="fa fa-times-circle deleteicon fs-6"></em></button>
        </div>
        <p class="ms-4 mt-2 text-white">{{quote.quote}}</p>

        <p class="text-end me-3 author"><em><strong> -{{quote.author}} </strong></em></p>

        <div class="buttons">
          <button class="border-0 upbtn rounded-start pe-1" (click)="plusUp(i)"><i class="fa fa-chevron-up"
              aria-hidden="true"></i></button>
          <span class="border-0 p-2 upcount rounded-end">{{quote.upvoteCount}}</span>
          <button class="border-0 downbtn rounded-start" (click)="plusDown(i)"><i class="fa fa-chevron-down"
              aria-hidden="true"></i></button>
          <span class="border-0 p-2 downcount rounded-end">{{quote.downvoteCount}}</span>
          <button class="detailbtn">Details</button>

        </div>

        <p class="text-white mt-4">{{quote.timePosted()}}</p>
      </div>
    </ng-container>
  </div>

</div>
